@import '../base/variables';

.work-card {
  transition: border-color 0.3s ease, transform 0.2s ease;
}

a:hover .work-card {
  transform: translateY(-2px);
  border-bottom-color: black;
  border-bottom-width: 2px;
}
